@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="EN-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/darkmode.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm mb-3">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><b>AltruCode</b></a>
                <i class="fas fa-moon me-3" id="moonIcon" style="cursor:pointer; display: none;"></i>
                <i class="fas fa-sun me-3" id="sunIcon" style="cursor:pointer;"></i>
            </div>
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <partial name="_NavItemsPartial"/>
                </ul>
                <div class="d-flex align-items-center ms-auto justify-content-center">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <a class="btn btn-danger my-2" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" asp-route-post_logout_redirect_uri="@Url.Action("Index", "Home", null, Context.Request.Scheme)">Sign out</a>
                    }
                    else
                    {
                        <a class="btn btn-primary my-2" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <div class="content container fade-in">
        @RenderBody()
    </div>
    <footer class="footer text-muted">
        <div class="container text-center lh-1 mt-3">
            <p><small>Released under the MIT License.</small></p>
            <p><small>Copyright © 2023-Present Steele.</small></p>
        </div>
    </footer>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/darkmode.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>