<div class="content container">
    <div class="text-center mt-5">
        <h1 class="mb-3">Under Construction</h1>
        <p class="my-3">
            AltruCode is a unique web platform designed to bring developers together, making it easier for them to showcase their coding projects and connect with like-minded developers. AltruCode promotes collaboration by providing a space where developers can find meaningful projects to contribute to.
        </p>
        <div id="countdown" class="countdown"></div>
    </div>
</div>