html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover
{
    color: #1e1e20;
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.content {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.countdown {
    font-size: 36px;
    margin: 4rem 0 4rem 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}